img{
    width: 110px;
    height: 60px;
}

.navbar{
    background-color: lightseagreen;
}

.navbar-brand a{
    color: white;
    text-decoration: none;
}

.dropdown-menu{
background-color: darkslategray ;
}

.dropdown-item:hover{
    background-color: #008080;
}

.nav-link a:hover{
    color: blue;
}

.nav-link a{
    text-decoration: none;
    color: white;
}

.dropdown-item a{
    color: white;
    text-decoration: none;
}

.dropdown-item a:hover{
    color: blue;
}
